* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #020631; */
  /* background-color: #929292; */
  background: url(./images/todo_bg.jpg);
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.app_container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color:  #020219;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 15px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
/* .app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* .app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
} */
/* .app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

/* .app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
} */

.flexBox_container{
  width: 90%;
  /* height: 200px; */
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title{
  width: 24vw;
  color:black;
}
.done{
  padding: 16px;
  background-color: #B8E4D9;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
.done i{
  color:  #F59EAF;
  cursor: pointer;
}
.ongoing i{
  color:#EFDB8D;
  cursor: pointer;
}
.trash i{
 color: #B8E4D9;
 cursor: pointer;
}
.ongoing{
  padding: 16px;
  background-color: #F59EAF;
  border-radius: 10px 100px / 120px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.trash{
  padding: 16px;
  background-color: #EFDB8D;
  border-radius: 25% 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.done,.ongoing,.trash{
 
  height: fit-content;
  /* background-color: white; */
  text-align: center;
}
.todos{
  width: 320px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #EFE9E9;
  border-radius: .25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left{
  padding-left: 10px;
  
  
}
.left p{
    width: fit-content;
    word-wrap: break-word;
    text-align: justify;
    font-size:large;
    font-weight: 700;
    cursor: default;
}

.right{
  padding-right: 10px;
}

/* Medaia Query */

@media screen and (max-width:1024px) {
  .todos{
    width: 240px;
  }
}

@media screen and (max-width:767px) {
  .todos{
    width: 240px;
  }
  .flexBox_container{
    flex-direction: column;
    align-content: space-between;
    gap: 30px;
  }
  .ongoing{
    order: 1;
  }
  .done{
    order: 2;
  }
  .trash{
    order: 3;
  }
  .title{
    width: 100%;
  }
 
}
@media screen and (max-width:767px){
    h2{
      text-align: center;
    }
}
@media screen and (max-width:320px){
  .app .input{
    width: 250px;
  }
}